@import '../node_modules/nouislider/distribute/nouislider.css';

// overwrite nouislider class
.noUi-marker-horizontal.noUi-marker-large {
    height: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
    width: 10px;
}

.noUi-horizontal {
    height: 10px;

    & .noUi-handle {
        height: 20px;
        width: 26px;
    }
    
    & .noUi-handle:before {
        height: 10px;
        top: 4px;
        left: 10px;
    }

    & .noUi-handle:after {
        height: 10px;
        top: 4px;
        left: 12px;
    }

    & .noUi-tooltip {
        top: 20px;
        bottom: initial;
    }
}

.noUi-vertical {
    width: 10px;

    & .noUi-handle {
        height: 26px;
        width: 20px;
    }

    .noUi-handle:before {
        width: 10px;
        top: 10px;
        left: 4px;
    }

    .noUi-handle:after {
        width: 10px;
        top: 12px;
        left: 4px;
    }

    & .noUi-tooltip {
        left: 20px;
        bottom: initial;
        right: auto;
    }
}

.noUi-handle {
    background-color: #c0c0c0;
    &:focus {
        .noUi-tooltip {
            display: block;
        }
    }
}

.noUi-tooltip {
    padding: 1px 4px;
    display: none;
}

// WCAG contrast for pips and label
.noUi-pips {
    color: #676767;

    .noUi-marker-large {
        background-color: #8d8d8d;
    }

    .noUi-marker-normal {
        background-color: #AAA;
    }
}

// chart panel
#chart {
    & .rv-header-content {
        display: contents;
    }
}

.rv-chart-panel {
    height: 100%;
    overflow: hidden;
    display: flex;
    padding: 0 10px;

    // no data message
    & .rv-chart-nodata {
        text-align: center;
        top: 50%;
        position: absolute;
        width: 100%;
        font-size: 24px;
        display: none;
    }

    // legend tooltip
    & .rv-chart-hidedata-tooltip {
        display: none;
        position: absolute;
        background-color: white;
        left: 40%;
        top: 30px;
        padding: 5px;
        border: 1px solid black;
    }

    & .rv-chart-loading {
        display: none;
    }

    & .rv-chart-sliderY {
        display: flex;
        height: 80%;
        padding-right: 100px;
        & #nouisliderY {
            height: inherit;
            align-self: center;
            margin: 0 auto;
        }
    }

    & .rv-chart-canvas {
        height: 100% !important;
        display: flex;
        width: 100%;
    }

    & .rv-chart-sliderX {
        justify-content: center;
        display: flex;
        height: 60px;

        & #nouisliderX {
            width: 90%;
        }
    }
}

// custom details panel
.rv-chart-details-value {
    padding: 8px 16px;

    & body {
        background-color: #FFF;
    }
}

// chart selector
.rv-chart-select {
    padding: 0 30px;
    width: 200px;
}